// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#container {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

div#container>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
}

div#how-much {
  margin-bottom: 20px;
}
