// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#container {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

div#container>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
}

div#how-much {
  margin-top: 20px;
  margin-bottom: 30px;
}

div#quip {
  margin-top: 40px;
  font-style: italic;
  font-size: 0.5em;
}

div#oh-you-like-that {
}

div#blargh {
  margin-top: 20px;
  font-size: 0.4em;
}

#___plusone_0 {
  position: relative;
  top: 5px;
}

.twitter-count-horizontal {
  position: relative;
  top: 5px;
  left: 6px;
}
